.brand-logo{
    margin-left: 20px;
}

#nav-mobile {
    margin-right: 10px;
}

.edit-button{
    margin: 10px 15px 10px 10px;
    border-radius: 20px;
}

.card-content{
    margin: 24px;
}

body {
    background-image: url('https://thenypost.files.wordpress.com/2019/03/old-library-book.jpg?quality=80&strip=all')
}

.header {
    margin: 20px 20px 10px 20px;
    padding: 0px;
    border-radius: 20px;
}

.form-style {
    margin: 15px 15px 10px 15px;
    padding-top: 5px;
    border-radius: 20px;
}

h3{
    margin: 10px 10px 10px 10px;
}