{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col s12 header blue-grey darken-1 white-text center">
    <h3>Add A New Book</h3>
  </div>
</div>
<div class="row">
  <form action="{{ url_for('insert_book') }}" method="POST" class="col s12">
    <div class="row blue-grey darken-1 form-style">
      <div class="input-field col s12">
        <input
          placeholder="Author"
          name="author"
          id="author"
          type="text"
          class="white-text validate"
          required
        />
        <label for="author">Author</label>
      </div>
    </div>
    <div class="row blue-grey darken-1 form-style">
      <div class="input-field col s12">
        <input
          placeholder="Book Title"
          name="title"
          id="title"
          type="text"
          class="white-text validate"
          required
        />
        <label for="title">Book Title</label>
      </div>
    </div>
    <div class="row blue-grey darken-1 form-style">
      <div class="input-field col s12">
        <input
          placeholder="Plot Description"
          name="plot"
          id="plot"
          type="text"
          class="materialize-textarea white-text validate"
          required
        />
        <label for="plot">Plot Description</label>
      </div>
    </div>
    <div class="row blue-grey darken-1 form-style">
      <div class="input-field col s6">
        <input
          placeholder="Year Published"
          name="year_published"
          id="year_published"
          type="text"
          class="white-text validate"
          required
        />
        <label for="year_published">Year Published</label>
      </div>
      <div class="input-field col s6">
        <input
          placeholder="Pages"
          name="pages"
          id="pages"
          type="text"
          class="white-text validate"
          required
        />
        <label for="pages">Pages</label>
      </div>
    </div>

    <div class="row blue-grey darken-1 button-bar">
      <a
        href="{{url_for('books')}}"
        class="btn waves-effect waves-light edit-button blue darken-2 left"
        type="submit"
        name="action"
      >
        Return To Library
      </a>
      <button
        class="btn waves-effect waves-light edit-button right"
        type="submit"
        name="action"
      >
        Add Book
      </button>
    </div>
  </form>
</div>
{% endblock %}
